@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    transition: all 0.3s ease-in-out;
}

.navbar-hidden {
    transform: translateY(-100%);
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}   